*{margin: 0;padding: 0 ;}
body{background-color: darkblue;color: white;text-align: center;font-family: 'Times New Roman', Times, serif;padding: 4%;}
header{background-color: darkred;padding: 10px 4%;display: flex ;align-items: center;justify-content: space-between;}
#top{border: solid white 1px}
ul{display: grid;grid-template-columns: repeat(3, 1fr);list-style-type: none;justify-content: center;border: gray solid;}
#corpo{display: grid;grid-template-columns: repeat(4, 1fr);border: solid white 2px;}
.sobre{border: solid 1px white;}
ol{list-style-type: none;}
h1{border: solid white 1px;}
header #botão a{background-color: white;color: blue;border: none;padding: 10px 20px;cursor: pointer;border-radius: 50px;}
header #botão a:hover{background-color: white;color: green;transition-duration: 1.5s;}
